.about-us-container {
   
    margin: 0 auto;
    max-width: 900px;
    font-family: 'Arial', sans-serif;
   /* Light background for readability */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

   
    padding: 0;
    height: 100vh; /* Ensure the container takes the full height of the viewport */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
  }
  
  .section {
    margin-bottom: 30px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  h2 {
    color: #555;
    margin-bottom: 10px;
  }
  
  p {
    line-height: 1.6;
    color: #666;
  }
  
  ul {
    list-style: disc;
    padding-left: 20px;
    color: #555;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  strong {
    color: #1a73e8;
  }
  